* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: calc(100% - 80px);
}

body {
    height: 100%;
}

header {
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #000;
    color: #fff;
}

.colors {
    display: flex;
    height: 100%;
}

.color-box {
    width: 25%;
    height: 100%;
    text-align: center;
    border-right: solid 1px #eee;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px 2%;
    border-radius: 8px;
    border: solid #ccc 2px;
}